CompileFlags:
  Add: [
    # '-std:latest',
    # "/clang:-std=c++23",
    # '-xc++', 
    # '-xc++-header',
    # '-Wall',
    # '-Wextra',
    # '-Wpedantic',
    # '-Wno-shadow-field-in-constructor',
    # '-Wno-undefined-reinterpret-cast',
    # '-Wno-unsafe-buffer-usage-in-container',
    # '-Wno-cast-function-type-strict',
    # '-Wno-cast-function-type-mismatch',
    # '-Wno-sign-conversion',
    # '-Wno-float-equal',
    # '-Wno-c++98-compat',
    # '-Wno-c++98-compat-pedantic',
    # '-Wno-pre-c++17-compat-pedantic'
  ]
  CompilationDatabase: build/ninja-release
